*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #01011d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    background: linear-gradient(135deg, #00feba, #fb548a);
    color: #fff;
    margin: 100px auto 0;
    margin-top: 35px;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}

.search{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.search input{
    border: none;
    outline: none;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 20px; /* padding top , bottom 10px he or left right 20px he */
    border-radius: 10px;
    height:50px;
    border-radius: 20px;
    flex:1; /* baqi saari jgh input box lelega;*/
    margin-right: 15px; /* thora sa input size km krke beech me margin derha search icon se pehle*/
    font-size: 18px;
}

.search button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #ebfffc;
    height:50px;
    width:50px;
    border-radius: 50%;
    cursor: pointer;

}

.search button img{
  width: 22px;
}

.weather-icon{
    width: 170px;
    margin-top: 25px;
}

.weather h1{
    font-size: 80px;
    font-weight: 520;
    margin-top: -12px;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -12px;
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}

.col{
    display: flex;
    align-items: center; 
    text-align: left;
}

.col img{
    width:40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 22px;
    margin-top: -6px;
    font-weight: 450;
}

@media (min-width: 380px) and (max-width: 400px){
    .card{
        width: 380px;
    }
    .search input{
        width: 240px;
       }
    
    
}

@media  (min-width: 360px) and (max-width: 380px){
    .card{
        width: 350px;
        padding: 35px 25px;
    }
    .search input{
        width: 210px;
        margin-right: 10px; /* thora sa input size km krke beech me margin derha search icon se pehle*/
    font-size: 16px;
       }
       .weather h1{
        font-size: 52px;
        font-weight: 520;
        margin-top: -12px;
    }
    
    .weather h2{
        font-size: 25px;
        font-weight: 400;
        margin-top: -12px;
        
    }

    humidity, .wind{
        font-size: 17px;
        margin-top: -6px;
        font-weight: 450;
    }
    p{
        font-size: 13px;
    }
    
    
}

@media   (max-width: 360px){
    .card{
        width: 330px;
        padding: 30px 20px;
    }
    .search input{
        width: 150px;
        margin-right: 8px; /* thora sa input size km krke beech me margin derha search icon se pehle*/
    font-size: 15px;
       }
       .weather h1{
        font-size: 45px;
        font-weight: 520;
        margin-top: -12px;
    }
    
    .weather h2{
        font-size: 20px;
        font-weight: 400;
        margin-top: -12px;
        
    }

    .humidity, .wind{
        font-size: 15px;
        margin-top: -6px;
        font-weight: 450;
    }
    p{
        font-size: 11px;
    }

    .weather-icon{
        width: 150px;
        margin-top: 25px;
    }
    .col img {
        width:30px;
        margin-right: 10px;
    }
    
}


